/* Imports */

@import "../node_modules/bulma/css/bulma.css";
@import "assets/stylesheets/variables";
@import "assets/stylesheets/loader";

/* General Styles */

body,html{
  height: 100%;
  margin: 0;
  color: $main-color;
  background-color: $second-color;
}

hr{
  width: 100%;
  border: 0;
}

.button{
  border-radius: 100px;
}

strong{
  font-weight: bold;
}

span{
  border-bottom: 1px solid;
}

a{
  text-decoration: none;
  border-bottom: 1px dotted;
  color: $main-color;
  -webkit-transition: color .4s ease-out;
  transition: color .4s ease-out;
}

a:hover{
  color: $brand-color;
  border-bottom: 1px solid;
  text-decoration: none;
}

@media (max-width: 768px){
  .none-display-mobile{
    display: none;
  }
}

.section-description{
  color: $description-color;
}

@media (min-width: 750px){
  .section-description{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Hero */

.hero{
  h1{
    font-weight: 900;
  }

  a:hover,.hero a:focus,.hero a:active{
    color: $brand-color;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlcy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLGFBQWE7O0FBRWIsOENBQThDO0FBQzlDLDJDQUEyQzs7QUFFM0Msb0JBQW9COztBQUVwQjtFQUNFLGFBQWE7RUFDYixVQUFVO0VBQ1YsbUJBQW1CO0VBQ25CLGdDQUFnQztDQUNqQzs7QUFFRDtFQUNFLFlBQVk7RUFDWixVQUFVO0NBQ1g7O0FBRUQ7RUFDRSxxQkFBcUI7Q0FDdEI7O0FBRUQ7RUFDRSxrQkFBa0I7Q0FDbkI7O0FBRUQ7RUFDRSx5QkFBeUI7Q0FDMUI7O0FBRUQ7RUFDRSxzQkFBc0I7RUFDdEIsMEJBQTBCO0VBQzFCLG1CQUFtQjtFQUNuQix1Q0FBdUM7RUFHdkMsK0JBQStCO0NBQ2hDOztBQUVEO0VBQ0Usb0JBQW9CO0VBQ3BCLHlCQUF5QjtFQUN6QixzQkFBc0I7Q0FDdkI7O0FBRUQ7RUFDRTtJQUNFLGNBQWM7R0FDZjtDQUNGOztBQUVEO0VBQ0UsMEJBQTBCO0NBQzNCOztBQUVEO0VBQ0U7SUFDRSxlQUFlO0lBQ2Ysa0JBQWtCO0lBQ2xCLG1CQUFtQjtHQUNwQjtDQUNGOztBQUVELFVBQVU7O0FBRVY7RUFDRTtJQUNFLGlCQUFpQjtHQUNsQjs7RUFFRDtJQUNFLG9CQUFvQjtHQUNyQjtDQUNGIiwiZmlsZSI6InN0eWxlcy5zY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyogSW1wb3J0cyAqL1xuXG5AaW1wb3J0IFwiYXNzZXRzL3N0eWxlc2hlZXRzL3NoYXJlZC92YXJpYWJsZXNcIjtcbkBpbXBvcnQgXCJhc3NldHMvc3R5bGVzaGVldHMvc2hhcmVkL2xvYWRlclwiO1xuXG4vKiBHZW5lcmFsIFN0eWxlcyAqL1xuXG5ib2R5LGh0bWx7XG4gIGhlaWdodDogMTAwJTtcbiAgbWFyZ2luOiAwO1xuICBjb2xvcjogJG1haW4tY29sb3I7XG4gIGJhY2tncm91bmQtY29sb3I6ICRzZWNvbmQtY29sb3I7XG59XG5cbmhye1xuICB3aWR0aDogMTAwJTtcbiAgYm9yZGVyOiAwO1xufVxuXG4uYnV0dG9ue1xuICBib3JkZXItcmFkaXVzOiAxMDBweDtcbn1cblxuc3Ryb25ne1xuICBmb250LXdlaWdodDogYm9sZDtcbn1cblxuc3BhbntcbiAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkO1xufVxuXG5he1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gIGJvcmRlci1ib3R0b206IDFweCBkb3R0ZWQ7XG4gIGNvbG9yOiAkbWFpbi1jb2xvcjtcbiAgLXdlYmtpdC10cmFuc2l0aW9uOiBjb2xvciAuNHMgZWFzZS1vdXQ7XG4gIC1tb3otdHJhbnNpdGlvbjogY29sb3IgLjRzIGVhc2Utb3V0O1xuICAtby10cmFuc2l0aW9uOiBjb2xvciAuNHMgZWFzZS1vdXQ7XG4gIHRyYW5zaXRpb246IGNvbG9yIC40cyBlYXNlLW91dDtcbn1cblxuYTpob3ZlcntcbiAgY29sb3I6ICRicmFuZC1jb2xvcjtcbiAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkO1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG59XG5cbkBtZWRpYSAobWF4LXdpZHRoOiA3NjhweCl7XG4gIC5ub25lLWRpc3BsYXktbW9iaWxle1xuICAgIGRpc3BsYXk6IG5vbmU7XG4gIH1cbn1cblxuLnNlY3Rpb24tZGVzY3JpcHRpb257XG4gIGNvbG9yOiAkZGVzY3JpcHRpb24tY29sb3I7XG59XG5cbkBtZWRpYSAobWluLXdpZHRoOiA3NTBweCl7XG4gIC5zZWN0aW9uLWRlc2NyaXB0aW9ue1xuICAgIG1heC13aWR0aDogNjAlO1xuICAgIG1hcmdpbi1sZWZ0OiBhdXRvO1xuICAgIG1hcmdpbi1yaWdodDogYXV0bztcbiAgfVxufVxuXG4vKiBIZXJvICovXG5cbi5oZXJve1xuICBoMXtcbiAgICBmb250LXdlaWdodDogOTAwO1xuICB9XG5cbiAgYTpob3ZlciwuaGVybyBhOmZvY3VzLC5oZXJvIGE6YWN0aXZle1xuICAgIGNvbG9yOiAkYnJhbmQtY29sb3I7XG4gIH1cbn1cblxuIl19 */