<!-- Nav-->
<nav class="nav">
    <!-- Container-->
    <div class="container">

        <!-- Nav-left -->
        <div class="nav-left">
            <a class="nav-item is-brand" [routerLink]="['/']">Niklick</a>
        </div>
        <!-- End Nav-left -->

        <!-- Nav-right -->
        <div class="nav-right nav-menu">
            <a class="nav-item" [routerLink]="['/contact']" [routerLinkActive]="['is-active']">Contact</a>
        </div>
        <!-- End Nav-right -->

    </div>
    <!-- End Container -->
</nav>
<!-- End Nav -->