/* Colors */

$white-color: #fff;
$main-color: #000;
$brand-color: #f9114d;
$gray-color: #f5f5f5;
$description-color: #666666;

/* Padding */

$top-padding: 1rem;
$left-padding: 1rem;
$right-padding: 1rem;
$bottom-padding: 1rem;

$small-top-padding: 0.7rem;
$small-left-padding: 0.7rem;
$small-right-padding: 0.7rem;
$small-bottom-padding: 0.7rem;

$large-top-padding: 2rem;
$large-left-padding: 2rem;
$large-right-padding: 2rem;
$large-bottom-padding: 2rem;

$top-bottom-padding: 1rem 0;
$left-right-padding: 0 1rem;
$all-padding: 1rem;

$small-top-bottom-padding: 0.7rem 0;
$small-left-right-padding: 0 0.7rem;
$small-all-padding: 0.7rem;

$large-top-bottom-padding: 2rem 0;
$large-left-right-padding: 0 2rem;
$large-all-padding: 2rem;

/* Margin */

$top-margin: 1rem;
$left-margin: 1rem;
$right-margin: 1rem;
$bottom-margin: 1rem;

$small-top-margin: 0.7rem;
$small-left-margin: 0.7rem;
$small-right-margin: 0.7rem;
$small-bottom-margin: 0.7rem;

$large-top-margin: 2rem;
$large-left-margin: 2rem;
$large-right-margin: 2rem;
$large-bottom-margin: 2rem;

$top-bottom-margin: 1rem 0;
$left-right-margin: 0 1rem;
$all-margin: 1rem;

$small-top-bottom-margin: 0.7rem 0;
$small-left-right-margin: 0 0.7rem;
$small-all-margin: 0.7rem;

$large-top-bottom-margin: 2rem 0;
$large-left-right-margin: 0 2rem;
$large-all-margin: 2rem;