@font-face {
  font-family: "Proxima Nova Reg";
  src: font-url('proxima_nova_regular.woff2') format('woff2'), font-url('proxima_nova_regular.ttf') format('truetype');
}

@font-face {
  font-family: "Proxima Nova Light";
  src: font-url('proxima_nova_light.woff2') format('woff2'), font-url('proxima_nova_light.ttf') format('truetype');
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: font-url('proxima_nova_bold.woff2') format('woff2'), font-url('proxima_nova_bold.ttf') format('truetype');
}
