body {
    font-family: $PRIMARY_FONT;
    margin: 0;
    min-height: 100vh;
}

body,
html,
#root {
min-height: 100vh;
}

html.no-scroll {
overflow: hidden;
}

button:focus {
outline: none;
}

button::-moz-focus-inner {
border: 0;
}

a {
text-decoration: none;
color: inherit;
}

a:hover {
color: $LIGHT_GRAY;
}

input {
border: none;
}

* {
box-sizing: border-box;
}

p {
margin: 0;
}