<!-- Hero-->
<section class="hero is-large has-text-centered">
  <!-- Hero-body -->
  <div class="hero-body">
    <!-- Container -->
    <div class="container">

      <h1 class="title is-1  animated bounce">
        <span>Rails-Starter-Kit.io!</span>
      </h1>
      <h2 class="title is-2">Full-Stack Solution for Ruby on Rails Developers.</h2>
      <p class="section-description title subtitle">
        This boilerplate is based on Rails Back-End.
      </p>
      <a href="https://github.com/PetrNikolas/Rails-Starter-Kit" target="_blank" class="button is-primary is-medium">Download!</a>

    </div>
    <!-- End Container -->
  </div>
  <!-- End Hero-body -->
</section>
<!-- End Section -->


<!-- Hr -->
<div class="container">

  <hr/>

</div>
<!-- End Hr -->


<!-- Section-->
<section class="section has-text-centered is-large">
  <!-- Container -->
  <div class="container">

    <h2 class="title is-2">
      <span>Half columns</span>
    </h2>

    <!-- Columns -->
    <div class="columns is-desktop">

      <!-- Half-column -->
      <div class="column is-half-desktop">
        <h3 class="title is-3 section-heading">Lorem ipsum 1</h3>
        <p class="section-description">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
      </div>
      <!-- End Half-column -->

      <!-- Half-column -->
      <div class="column is-half-desktop">
        <h3 class="title is-3 section-heading">Lorem ipsum 2</h3>
        <p class="section-description">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
      </div>
      <!-- End Half-column -->

    </div>
    <!-- End Columns -->

  </div>
  <!-- End Container -->
</section>
<!-- End Section -->