<!-- Hero-->
<section class="hero is-large has-text-centered">
  <!-- Hero-body -->
  <div class="hero-body">
    <!-- Container -->
    <div class="container">

      <h1 class="title is-1 animated bounce">
        <span>Rails-Starter-Kit.io!</span>
      </h1>
      <h2 class="title is-2">Full-Stack Solution for Ruby on Rails Developers.</h2>
      <p class="section-description title subtitle">
        This boilerplate is based on Rails Back-End and using React on Front-End.
      </p>
      <a href="https://github.com/PetrNikolas/Rails-Starter-Kit" target="_blank" class="button is-primary is-medium">Download!</a>

    </div>
    <!-- End Container -->
  </div>
  <!-- End Hero-body -->
</section>
<!-- End Section -->


<!-- Hr -->
<div class="container">

  <hr/>

</div>
<!-- End Hr -->


<!-- Section-->
<section class="section has-text-centered is-medium">
  <!-- Container -->
  <div class="container">

    <h2 class="title is-2">
      <span>Half columns</span>
    </h2>

    <!-- Columns -->
    <div class="columns is-desktop">

      <!-- Half-column -->
      <div class="column is-half-desktop">
        <h3 class="title is-3 section-heading">Lorem ipsum 1</h3>
        <p class="section-description">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
      </div>
      <!-- End Half-column -->

      <!-- Half-column -->
      <div class="column is-half-desktop">
        <h3 class="title is-3 section-heading">Lorem ipsum 2</h3>
        <p class="section-description">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
      </div>
      <!-- End Half-column -->

    </div>
    <!-- End Columns -->

  </div>
  <!-- End Container -->
</section>
<!-- End Section -->


<!-- Hr -->
<div class="container">

  <hr/>

</div>
<!-- End Hr -->


<!-- Section-->
<section class="section has-text-centered is-medium">
  <!-- Container -->
  <div class="container">

    <h2 class="title is-2">Panel and progress bar</h2>

    <!-- Columns -->
    <div class="columns is-desktop">

      <!-- Half-column -->
      <div class="column is-half-desktop">

        <!-- Panel -->
        <nav class="panel">

          <!-- Panel-heading -->
          <p class="panel-heading">Repositories</p>
          <!-- End Panel-heading -->

          <p class="panel-tabs">
            <a href="#" class="is-active">All</a>
            <a href="#">Public</a>
            <a href="#">Private</a>
          </p>

          <a href="#" class="panel-block is-active">bulma-website</a>

          <a href="#" class="panel-block">bulma</a>

          <a href="#" class="panel-block">marksheet</a>

          <div class="panel-block">
            <button class="button is-primary is-outlined is-fullwidth">Reset</button>
          </div>

        </nav>
        <!-- End Panel -->

      </div>
      <!-- End Half-column -->

      <!-- Half-column -->
      <div class="column is-half-desktop">

        <progress value="15" max="100" class="progress is-small">15%</progress>
        <progress value="30" max="100" class="progress">30%</progress>
        <progress value="45" max="100" class="progress is-medium">45%</progress>
        <progress value="60" max="100" class="progress is-large">60%</progress>

      </div>
      <!-- End Half-column -->

    </div>
    <!-- End Columns -->

  </div>
  <!-- End Container -->
</section>
<!-- End Section -->