<!-- meta tags -->
<% meta title: "Niklick" %>


<!-- Hero-->
<div class="uk-section uk-section-primary uk-light uk-section-xlarge">
  <div class="uk-container uk-container-small uk-text-center">

    <h1 class="uk-heading-primary uk-margin-small">
      Niklick!
    </h1>
    <h2 class="uk-heading-line uk-text-center uk-margin-small"><span>Full-Stack Solution for Ruby on Rails Developers.</span></h2>
    <p class="uk-margin-small">
      This boilerplate is based on Ruby on Rails Back-End.
    </p>
    <a href="https://github.com/PetrNikolas/niklick" target="_blank" class="uk-button uk-button-default uk-button-large">Download!</a>

  </div>
</div>


<!-- section -->
<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container uk-container-small uk-text-center">

    <h2>Section Large</h2>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>
  </div>
</div>


<!-- section-->
<div class="uk-section uk-section-secondary">
  <div class="uk-container uk-container-small uk-text-center">

    <h2>Section</h2>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>

  </div>
</div>