<!-- Hero Section -->
<section class="hero">
  <div class="container">
    <h1 class="section-main title is-1 animated bounce"><span>Rails Starter Kit!</span></h1>
    <h2 class="section-heading title is-2">Mini Starter Kit for Designers and Ruby on Rails Developers.</h2>
    <p class="section-description title subtitle">This boilerplate is build on Bulma CSS and using HTML5, CSS3, Stylus and JavaScript.</p><a href="https://github.com/PetrNikolas/Niklick" target="_blank" class="button is-primary is-medium">Download!</a>
  </div>
</section>
<!-- Cancel Hero Section -->

<!-- Section -->
<section class="section">
  <div class="container">
    <h2 data-anijs="if: mouseover, on: body, do: swing animated" class="title is-2 section-main"><span>Lorem ipsum</span></h2>
    <div class="columns is-mobile">
      <div class="column is-half-mobile">
        <h3 class="title is-3 section-heading">Lorem ipsum 1</h3>
        <p class="section-description">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
      </div>
      <div class="column is-half-mobile">
        <h3 class="title is-3 section-heading">Lorem ipsum 2</h3>
        <p class="section-description">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Section-->