<amp-state id="ui_hero"><script type="application/json">true</script></amp-state>
<amp-state id="ui_reset"><script type="application/json">false</script></amp-state>
<amp-state id="ui_filterPane"><script type="application/json">false</script></amp-state>
<amp-state id="ui_sortPane"><script type="application/json">false</script></amp-state>


<amp-state id="fields_query"><script type="application/json">""</script></amp-state>
<amp-state id="fields_query_initial"><script type="application/json">""</script></amp-state>
<amp-state id="fields_query_live"><script type="application/json">""</script></amp-state>
<amp-state id="fields_query_edited"><script type="application/json">false</script></amp-state>
<amp-state id="query_query"><script type="application/json">""</script></amp-state>


<amp-state id="fields_departure"><script type="application/json">""</script></amp-state>
<amp-state id="fields_departure_initial"><script type="application/json">""</script></amp-state>
<amp-state id="fields_departure_edited"><script type="application/json">false</script></amp-state>
<amp-state id="query_departure"><script type="application/json">""</script></amp-state>


<amp-state id="fields_return"><script type="application/json">""</script></amp-state>
<amp-state id="fields_return_initial"><script type="application/json">""</script></amp-state>
<amp-state id="fields_return_edited"><script type="application/json">false</script></amp-state>
<amp-state id="query_return"><script type="application/json">""</script></amp-state>


<amp-state id="fields_type"><script type="application/json">[]</script></amp-state>
<amp-state id="fields_type_initial"><script type="application/json">[]</script></amp-state>
<amp-state id="fields_type_edited"><script type="application/json">false</script></amp-state>
<amp-state id="query_type"><script type="application/json">[]</script></amp-state>


<amp-state id="fields_city"><script type="application/json">[]</script></amp-state>
<amp-state id="fields_city_initial"><script type="application/json">[]</script></amp-state>
<amp-state id="fields_city_edited"><script type="application/json">false</script></amp-state>
<amp-state id="query_city"><script type="application/json">[]</script></amp-state>


<amp-state id="fields_sort"><script type="application/json">"popularity-desc"</script></amp-state>
<amp-state id="fields_sort_initial"><script type="application/json">"popularity-desc"</script></amp-state>
<amp-state id="fields_sort_edited"><script type="application/json">false</script></amp-state>
<amp-state id="query_sort"><script type="application/json">"popularity-desc"</script></amp-state>


<amp-state id="fields_maxPrice"><script type="application/json">801</script></amp-state>
<amp-state id="fields_maxPrice_initial"><script type="application/json">801</script></amp-state>
<amp-state id="fields_maxPrice_live"><script type="application/json">801</script></amp-state>
<amp-state id="fields_maxPrice_edited"><script type="application/json">false</script></amp-state>
<amp-state id="query_maxPrice"><script type="application/json">801</script></amp-state>
    

<section class="travel-main-wrapper overflow-hidden" role="main">
  <section class="relative z2">
    <header class="travel-header absolute top-0 right-0 left-0">
      <div class="px1 md-px2 py1 md-py2 flex justify-between items-center">
        <a href="/" class="travel-icon-logo mx-auto inline-block circle">
          Niklick
        </a>
      </div>
    </header>
  </section>


  <!-- Hero -->
  <div class="travel-hero-bg absolute col-12">
      <amp-img class="travel-hero-bg-img absolute" src="/images/travel/hero-2.jpg" height="80vmax" noloading=""></amp-img>
      <amp-img class="travel-hero-bg-img absolute" src="/images/travel/hero-3.jpg" height="80vmax" noloading=""></amp-img>
      <amp-img class="travel-hero-bg-img absolute" src="/images/travel/hero-1.jpg" height="80vmax" noloading=""></amp-img>
  </div>

  <section class="travel-hero relative">
    <div class="travel-hero-content max-width-3 mx-auto absolute top-0 left-0 right-0 flex self-end items-center">
      <div class="travel-hero-content-inner relative px1 md-px2 flex-auto self-end">
        <header>
          <h1 class="travel-hero-heading mb2 line-height-1">Terms and Conditions</h1>
        </header>
      </div>
    </div>
  </section>
  <!--/ Hero -->
</section>