$DEEPBLACK: #222;
$BLACK: #464646;
$RED: #f03;
$BACKGROUND: white;
$TEXT: #999;
$LIGHT_TEXT: #888;
$PRIMARY_FONT: 'Proxima Nova Reg', sans-serif;
$LIGHT_FONT: 'Proxima Nova Light', sans-serif;
$TEAL: #0ff;
$BTN_TEAL: #3acced;
$LIGHT_TEAL: #51deff;
$NAVBAR_BLACK: #2b2b2b;
$LIGHT_GRAY: #c9c9c9;
$GREEN: #54de8f;
$LIGHT_GREEN: #65f7a3;
$MINT_GREEN: #33e6b1;
$DARK_BLUE: #0f1825;

$FOOTER_COLOR: $DARK_BLUE;

$HEADER_HEIGHT: 0;
$SIDEBAR_WIDTH: 300px;
$LETTER_SPACING: 4px;
