<!-- Meta tags -->
<% meta title: "Edit Post" %>
<!-- End Meta tags -->


<!-- Hero-->
<div class="uk-section uk-section-primary uk-light uk-section-xlarge">
  <div class="uk-container uk-container-small uk-text-center">

    <h1 class="uk-heading-primary uk-margin-small">
      Editing Post
    </h1>

  </div>
</div>


<!-- section -->
<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container uk-container-small uk-text-center">


    <ul class="uk-subnav">
      <li>
        <%= link_to 'Show', @post, class: "uk-button uk-button-default uk-button-large" %>
      </li>
      <li>
        <%= link_to 'Back', posts_path, class: "uk-button uk-button-default uk-button-large" %>
      </li>
    </ul>


    <%= render 'form', post: @post %>


  </div>
</div>