<!-- Meta tags -->
<% meta title: "New Post",
        description: ""
%>
<!-- End Meta tags -->


<!-- Hero-->
<section class="hero is-medium has-text-centered">
  <!-- Hero-body -->
  <div class="hero-body">
    <!-- Container -->
    <div class="container">

      <h1 class="title is-1  animated bounceInDown">
        <span>New Post</span>
      </h1>

    </div>
    <!-- End Container -->
  </div>
  <!-- End Hero-body -->
</section>
<!-- End Section -->


<!-- Section-->
<section class="section is-medium has-text-centered">
  <!-- Container -->
  <div class="container">

    <!-- Level -->
    <nav class="level">
      <!-- Level Item -->
      <div class="level-item has-text-right  animated fadeInRight">
        <div>

          <%= link_to 'Back', posts_path, class: "button is-medium" %>

        </div>
      </div>
      <!-- End Level Item -->
    </nav>
    <!-- End Level -->

    <!-- Columns -->
    <div class="columns is-desktop">

      <!-- Column -->
      <div class="column is-12">

        <%= render 'form', post: @post %>

      </div>
      <!-- End Column -->

    </div>
    <!-- End Columns -->

  </div>
  <!-- End Container -->
</section>
<!-- End Section -->