.landing-Header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 15vh;
  width: 100%;
  padding: 0 30px;

  h2 {
    margin: 0;
  }

  .header-server-logo {
    .header-logo {
      height: 50px;
      cursor: pointer;
      font-size: 47px;
      font-weight: 900;
    }
  }

  .header-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .landing-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      cursor: pointer;
      border: solid;
      border-width: 1px;
      height: 40px;
      width: 150px;
      border-radius: 20px;
      margin-left: 10px;

      p {
        font-size: 10px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
      }
    }

    .landing-button.login {
      border: transparent;
    }

    .landing-button.login:hover {
      background-color: $MINT_GREEN;
      color: white;
    }

    .landing-button.login:active {
      p {
        color: $LIGHT_GRAY;
      }
    }

    .landing-button.signup:hover {
      border-color: $MINT_GREEN;

      p {
        color: $MINT_GREEN;
      }
    }

    @media (max-width: 700px) {
      .landing-button.signup {
        display: none;
      }
    }
  }
}
