/* Colors */

$white-color: #fff;
$main-color: #000;
$brand-color: #f9114d;
$gray-color: #f5f5f5;
$description-color: #666666;

/* Padding */

$top-padding: 10px;
$left-padding: 10px;
$right-padding: 10px;
$bottom-padding: 10px;

$small-top-padding: 5px;
$small-left-padding: 5px;
$small-right-padding: 5px;
$small-bottom-padding: 5px;

$large-top-padding: 20px;
$large-left-padding: 20px;
$large-right-padding: 20px;
$large-bottom-padding: 20px;

$top-bottom-padding: 10px 0;
$left-right-padding: 0 10px;
$all-padding: 10px;

$small-top-bottom-padding: 5px 0;
$small-left-right-padding: 0 5px;
$small-all-padding: 5px;

$large-top-bottom-padding: 20px 0;
$large-left-right-padding: 0 20px;
$large-all-padding: 20px;

/* Margin */

$top-margin: 10px;
$left-margin: 10px;
$right-margin: 10px;
$bottom-margin: 10px;

$small-top-margin: 5px;
$small-left-margin: 5px;
$small-right-margin: 5px;
$small-bottom-margin: 5px;

$large-top-margin: 20px;
$large-left-margin: 20px;
$large-right-margin: 20px;
$large-bottom-margin: 20px;

$top-bottom-margin: 10px 0;
$left-right-margin: 0 10px;
$all-margin: 10px;

$small-top-bottom-margin: 5px 0;
$small-left-right-margin: 0 5px;
$small-all-margin: 5px;

$large-top-bottom-margin: 20px 0;
$large-left-right-margin: 0 20px;
$large-all-margin: 20px;