/* Imports */

@import "bulma/bulma";
@import "shared/variables";
@import "libs/animate";

/* General Styles */

body,html{
  height: 100%;
  margin: 0;
  color: $main-color;
  background-color: $white-color;
}

hr{
  width: 100%;
  margin: $large-top-bottom-margin;
  border: 0;
}

.button{
  border-radius: 100px;
}

strong{
  font-weight: bold;
}

span{
  border-bottom: 1px solid;
}

a{
  text-decoration: none;
  border-bottom: 1px dotted;
  color: $main-color;
  -webkit-transition: color .4s ease-out;
  -moz-transition: color .4s ease-out;
  -o-transition: color .4s ease-out;
  transition: color .4s ease-out;
}

a:hover,a:active,a:focus{
  color: $brand-color;
  border-bottom: 1px solid;
  text-decoration: none;
}

@media (max-width: 768px){
  .none-display-mobile{
    display: none;
  }
}

.section-heading{
  margin-bottom: 1.2rem;
}

.section-description{
  margin-bottom: 1rem;
  color: $description-color;
}

@media (min-width: 750px){
  .section-description{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Nav */

.nav{
  a{
    border-bottom: none !important;
  }

  .is-brand{
    font-size: 25px;
  }
}