/* Imports */

@import "shared/variables";

/* Hero */

.hero{
  background-color: $decoration-color;
}

.content{
  width: 50%;
  margin: 0 auto;

  @media only screen and (max-width: 992px) {
    width: 90%;
  }
}