<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Title -->
      <title>Niklick</title>

      <base href="/">

      <!-- Meta Tags-->
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="Petr Nikolas">
      <meta http-equiv="Content-language" content="en">
      <meta name='reply-to' content='petr.nikolas@icloud.com'>
      <meta name='url' content=''>
      <meta name='identifier-URL' content=''>

      <%= csrf_meta_tags %>

      <!-- OG Meta tags -->
      <meta property="og:title" content="Niklick">
      <meta property="og:url" content="">
      <meta property="og:image" content="">
      <meta property="og:type" content="website">
      <meta property="og:description" content="">
      <meta property="og:site_name" content="">

      <!-- Twitter Meta tags -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="">
      <meta name="twitter:description" content="">
      <meta name="twitter:image" content="">

      <!-- MS Application -->
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="">

      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <!-- Content for client app -->
    <%= yield %>
  </body>
</html>