<!DOCTYPE html>
<html ⚡="">
  <head>
    <title>Niklick</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <link rel="canonical" href="">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <!-- Meta Tags-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Petr Nikolas">
    <meta http-equiv="Content-language" content="en">
    <meta name='reply-to' content='hello@petrnikolas.com'>
    <meta name='url' content=''>
    <meta name='identifier-URL' content=''>

    <!-- OG Meta tags -->
    <meta property="og:title" content="Niklick">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">

    <!-- Twitter Meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- MS Application -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
